[flake8]
ignore=F405,E501,F403,I2041
per-file-ignores =
    Parser.py: C901,F405
    parsermethods.py: I2043
    Evaluator.py: C901,F405
    baseclasses.py: E302
    __init__.py: F401
exclude =
    tests
    editreadme.py
    testbot.py
    __init__.py
